body {
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

.card {
  background: #1c1c1c;
  margin: 10px auto;
  padding: 15px;
  width: 60%;
  border-radius: 10px;
  text-align: left;
}